/project/build/
/project/dist/
.o
.dep

*.inc

*.o

*.dep

*.mk

*.bash

*.c

project/nbproject/private/cpp_standard_headers_indexer.cpp

project/nbproject/private/launcher.properties

*.xml

project/main
